.overlayContainer {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.overlay {
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8%;
}

.button {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: rgba(17, 24, 39, 0.7);
    border: 2px solid white;
    border-radius: 0.5rem;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(17, 24, 39, 0.9);
    transform: scale(1.05);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem;
    margin: 20px;
    animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
