.header {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px;
    background-color: rgb(11, 16, 26);
    border-radius: 0.5rem 0.5rem 0 0;
    position: relative;
    z-index: 20;
}

.logo {
    width: 12rem;
}

.headerOptions {
    display: flex;
    width: 87%;
    justify-content: space-between;
}

.categories {
    list-style: none;
    display: flex;
    gap: 15px;
}

a:hover {
    font-weight: bold;
    color: #ffcc00;
}
